.ionLabel {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nombres {
    margin-left: 1rem !important;
}

.item {
    cursor: pointer;
}

.item:hover {
    background-color: #e6e6e6 !important;
}

.perfilImg {
    border-radius: 2rem;
}

.buttonsAdds {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-left: 1rem;
    
}

.button{
    margin-right: 1rem;
    margin-top: 0.5rem;
}