@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}

.perfil{
    height: 50%;
    width: 50%;
}

.fuente{
    font-family: 'Roboto', sans-serif;
}

.nombre{
    font-size: 2rem;
    padding: 0 0 0 1rem;
}

.infoPersonal{
    padding: 0 0 0.5rem 3rem;
    color: grey;
}

.ion-margin-top{
    border-radius: 1rem;
}